<h1>Recent Photos</h1>


<%= form_with(url: request.fullpath, method: :get, local: true) do |f| %>
   <div class="field">
    <%= f.label :flickr_user_id %>
    <%= f.text_field :flickr_user_id, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @photo_urls.present? %>
  <% @photo_urls.each do |photo_url|%>
    <img src="<%= photo_url %>" alt="Flickr Image">
  <% end %>
<% end %>